{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Contact!</h1>
        <p class="py-6 text-3xl">Email: <span class="text-3xl font-normal">abc@gmail.com</span></p>
        <p class="py-6 text-3xl">Phone: <span class="text-3xl font-normal">0123456789</span></p>
        <p class="py-6 text-3xl">Facebook: <a class="text-3xl font-normal" href="">www.fb.com</a></p>
        <p class="py-6 text-3xl">Twitter: <a class="text-3xl font-normal" href="">www.tweet.com</a></p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">

            <section>
                {% if form.non_field_errors %} {% for error in form.non_field_errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
            <p class="font-bold">Error!</p>
            <p class="block sm:inline">{{ error }}</p>
        </div>
        {% endfor %} {% endif %}
        <div class="">
            <div></div>
            <div class="py-2 px-3 rounded-xl bg-white mt-12">
                <h1 class="font-bold text-3xl text-center pb-5 shadow-md">To Connect</h1>
                <div class="w-full mt-10">
                    <form method="post" class="shadow-md border border-gray-200 rounded px-8 pt-6 pb-8 mb-4" enctype="multipart/form-data">
                        {% csrf_token %} 
                        {% for hidden_field in form.hidden_fields %} 
                        {{ hidden_field.errors }} {{ hidden_field }} {% endfor %} 
                       
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                            
                            {{form|crispy}}
                        </div>
                        {% if field.errors %} {% for error in field.errors %}
                        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %} {% endif %} 
        
                        <div class="flex items-center justify-center w-full">
                            <button class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Submit
                    </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            </section>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}